
.contact {
    text-align: center;
    padding: 20px 0;
    min-height: 100vh;
    background-color: #0f172a; 
}

#contact h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

#contact p {
    display: flex;
    justify-content: center;
    gap: 25px; 
}

#contact a {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

#contact a:hover {
    transform: scale(1.2); 
}

#contact img {
    width: 40px;
    height: 40px;
}

